*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {    background-color: black;
    color:white;
    height:2vh;
    padding: 1vw;
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
}
.gamecontainer{
    margin: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    position: relative;
}
.info{
    font-size: 25px;
}
.container{    
    display: grid;
    grid-template-columns: repeat(3,9vw);
    grid-template-rows: repeat(3,9vw);
    position: relative;
}
.box{
    border: 2px solid black;
    font-size: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
background-color: rgb(207, 214, 214);
}
.img img{
  width: 0;
  transition: width 1s ease-in-out  ;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

.btn{
    margin: 25px 23px;
    padding: 2px 17px;
    background-color: rgb(201, 175, 225);
    border-radius: 16px;
    cursor: pointer;
    font-size: larger;
}
.line{
    background-color: rgb(203, 157, 192);
    width: 0;
    height: 5px;
    position: absolute;
    transition: width 1s ease-in-out;
}
@media screen and (max-width:950px){
    .gamecontainer{
        flex-wrap: wrap;
    }
    .gameinfo{
        margin-top: 34px;   
     }
     .box{
        font-size: 5rem;
     }
     .sidecontainer h1{
        font-size: 1.5rem;
     }
     .container{    
        display: grid;
        grid-template-columns: repeat(3,20vw);
        grid-template-rows: repeat(3,20vw);
    }
     
}
@media screen and (max-width:500px){
    
     .box{
        font-size: 3rem;
     }
}